.vscode
build
target
target_c
**/__pycache__
RTL/IPs/*/*.edn
RTL/IPs/*/*.log
RTL/IPs/*/*.naf
RTL/IPs/*/*.sort
RTL/IPs/*/*.srp
RTL/IPs/*/*.sym
RTL/IPs/*/*.tcl
RTL/IPs/*/*.v
RTL/IPs/*/*.vhd
zlocal_only
assets/**/.$*.bkp

firmware_lib/asm_bootstrap/*.bin
firmware_lib/asm_bootstrap/*.elf

.settings
.project
.library_mapping.xml

**/Cargo.lock