.vscode
build
*/__pycache__
RTL/IPs/*/*.edn
RTL/IPs/*/*.log
RTL/IPs/*/*.naf
RTL/IPs/*/*.sort
RTL/IPs/*/*.srp
RTL/IPs/*/*.sym
RTL/IPs/*/*.tcl
RTL/IPs/*/*.v
RTL/IPs/*/*.vhd
zlocal_only
rust_test
assets/**/.$*.bkp
